@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
      <h1>Party Information</h1>
      <p>invtation to party .... <br /> please register the form</p>

      <button><a href="Register/Form">Register</a></button>
    <button><a href="Register/GetAllGuests">Summery</a></button>
    </body>
</html>